<div>

    <div class="row">
        <span class="col col-md-6 ">Domanda</span>
        <span class="col col-md-1 col-md-offset-1 ">NA</span>
        <span class="col col-md-1 ">No</span>
        <span class="col col-md-1 ">Un po'</span>
        <span class="col col-md-1 ">Parecchio</span>
        <span class="col col-md-1 ">Moltissimo</span>
    </div>

    <br><br>
    <div>In generale, Lei ...</div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>1. ...ha difficoltà nel fare lavori faticosi, come portare una borsa della spesa pesante o una valigia? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom1" ng-model="vm.Eortc.dom1" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom1" ng-model="vm.Eortc.dom1" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom1" ng-model="vm.Eortc.dom1" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom1" ng-model="vm.Eortc.dom1" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom1" ng-model="vm.Eortc.dom1" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>2. ...ha difficoltà nel fare una LUNGA passeggiata? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom2" ng-model="vm.Eortc.dom2" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom2" ng-model="vm.Eortc.dom2" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom2" ng-model="vm.Eortc.dom2" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom2" ng-model="vm.Eortc.dom2" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom2" ng-model="vm.Eortc.dom2" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>3. ...ha difficoltà nel fare una BREVE passeggiata fuori casa? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom3" ng-model="vm.Eortc.dom3" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom3" ng-model="vm.Eortc.dom3" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom3" ng-model="vm.Eortc.dom3" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom3" ng-model="vm.Eortc.dom3" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom3" ng-model="vm.Eortc.dom3" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>4. ...ha bisogno di stare a letto o su una sedia durante il giorno? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom4" ng-model="vm.Eortc.dom4" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom4" ng-model="vm.Eortc.dom4" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom4" ng-model="vm.Eortc.dom4" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom4" ng-model="vm.Eortc.dom4" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom4" ng-model="vm.Eortc.dom4" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>5. ...ha bisogno di aiuto per mangiare, vestirsi, lavarsi o andare al bagno? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom5" ng-model="vm.Eortc.dom5" value="0"></span>
        <span class="col col-md-1 "><input type="radio" ng-model="vm.Eortc.dom5" name="Eortc.dom5" value="1"></span>
        <span class="col col-md-1 "><input type="radio" ng-model="vm.Eortc.dom5" name="Eortc.dom5" value="2"></span>
        <span class="col col-md-1 "><input type="radio" ng-model="vm.Eortc.dom5" name="Eortc.dom5" value="3"></span>
        <span class="col col-md-1 "><input type="radio" ng-model="vm.Eortc.dom5" name="Eortc.dom5" value="4"></span>
    </div>
    <br><br>
    <div>Durante gli ultimi sette giorni:</div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>6. Ha avuto limitazioni nel fare il Suo lavoro o i lavori di casa? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom6" ng-model="vm.Eortc.dom6" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom6" ng-model="vm.Eortc.dom6" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom6" ng-model="vm.Eortc.dom6" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom6" ng-model="vm.Eortc.dom6" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom6" ng-model="vm.Eortc.dom6" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>7. Ha avuto limitazioni nel praticare i Suoi passatempi-hobby o altre attività di divertimento o svago? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom7" ng-model="vm.Eortc.dom7" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom7" ng-model="vm.Eortc.dom7" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom7" ng-model="vm.Eortc.dom7" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom7" ng-model="vm.Eortc.dom7" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom7" ng-model="vm.Eortc.dom7" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>8. Le è mancato il fiato? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom8" ng-model="vm.Eortc.dom8" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom8" ng-model="vm.Eortc.dom8" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom8" ng-model="vm.Eortc.dom8" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom8" ng-model="vm.Eortc.dom8" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom8" ng-model="vm.Eortc.dom8" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>9. Ha avuto dolore? </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom9" ng-model="vm.Eortc.dom9" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom9" ng-model="vm.Eortc.dom9" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom9" ng-model="vm.Eortc.dom9" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom9" ng-model="vm.Eortc.dom9" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom9" ng-model="vm.Eortc.dom9" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>10. Ha avuto bisogno di riposo?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom10" ng-model="vm.Eortc.dom10" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom10" ng-model="vm.Eortc.dom10" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom10" ng-model="vm.Eortc.dom10" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom10" ng-model="vm.Eortc.dom10" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom10" ng-model="vm.Eortc.dom10" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>11.Ha avuto difficoltà a dormire?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom11" ng-model="vm.Eortc.dom11" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom11" ng-model="vm.Eortc.dom11" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom11" ng-model="vm.Eortc.dom11" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom11" ng-model="vm.Eortc.dom11" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom11" ng-model="vm.Eortc.dom11" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>12. Ha sentito debolezza?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom12" ng-model="vm.Eortc.dom12" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom12" ng-model="vm.Eortc.dom12" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom12" ng-model="vm.Eortc.dom12" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom12" ng-model="vm.Eortc.dom12" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom12" ng-model="vm.Eortc.dom12" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>13. Le è mancato l'appetito?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom13" ng-model="vm.Eortc.dom13" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom13" ng-model="vm.Eortc.dom13" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom13" ng-model="vm.Eortc.dom13" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom13" ng-model="vm.Eortc.dom13" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom13" ng-model="vm.Eortc.dom13" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>14. Ha avuto un senso di nausea?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom14" ng-model="vm.Eortc.dom14" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom14" ng-model="vm.Eortc.dom14" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom14" ng-model="vm.Eortc.dom14" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom14" ng-model="vm.Eortc.dom14" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom14" ng-model="vm.Eortc.dom14" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>15. Ha vomitato?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom15" ng-model="vm.Eortc.dom15" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom15" ng-model="vm.Eortc.dom15" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom15" ng-model="vm.Eortc.dom15" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom15" ng-model="vm.Eortc.dom15" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom15" ng-model="vm.Eortc.dom15" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>16. Ha avuto problemi di stitichezza?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom16" ng-model="vm.Eortc.dom16" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom16" ng-model="vm.Eortc.dom16" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom16" ng-model="vm.Eortc.dom16" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom16" ng-model="vm.Eortc.dom16" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom16" ng-model="vm.Eortc.dom16" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>17. Ha avuto problemi di diarrea?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom17" ng-model="vm.Eortc.dom17" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom17" ng-model="vm.Eortc.dom17" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom17" ng-model="vm.Eortc.dom17" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom17" ng-model="vm.Eortc.dom17" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom17" ng-model="vm.Eortc.dom17" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>18. Ha sentito stanchezza?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom18" ng-model="vm.Eortc.dom18" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom18" ng-model="vm.Eortc.dom18" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom18" ng-model="vm.Eortc.dom18" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom18" ng-model="vm.Eortc.dom18" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom18" ng-model="vm.Eortc.dom18" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>19. Il dolore ha interferito con le Sue attività quotidiane?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom19" ng-model="vm.Eortc.dom19" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom19" ng-model="vm.Eortc.dom19" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom19" ng-model="vm.Eortc.dom19" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom19" ng-model="vm.Eortc.dom19" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom19" ng-model="vm.Eortc.dom19" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>20. Ha avuto difficoltà a concentrarsi su cose come leggere un giornale o guardare la televisione?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom20" ng-model="vm.Eortc.dom20" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom20" ng-model="vm.Eortc.dom20" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom20" ng-model="vm.Eortc.dom20" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom20" ng-model="vm.Eortc.dom20" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom20" ng-model="vm.Eortc.dom20" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>21. Si è sentito/a teso/a?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom21" ng-model="vm.Eortc.dom21" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom21" ng-model="vm.Eortc.dom21" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom21" ng-model="vm.Eortc.dom21" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom21" ng-model="vm.Eortc.dom21" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom21" ng-model="vm.Eortc.dom21" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>22. Ha avuto preoccupazioni?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom22" ng-model="vm.Eortc.dom22" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom22" ng-model="vm.Eortc.dom22" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom22" ng-model="vm.Eortc.dom22" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom22" ng-model="vm.Eortc.dom22" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom22" ng-model="vm.Eortc.dom22" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>23. Ha avuto manifestazioni di irritabilità?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom23" ng-model="vm.Eortc.dom23" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom23" ng-model="vm.Eortc.dom23" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom23" ng-model="vm.Eortc.dom23" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom23" ng-model="vm.Eortc.dom23" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom23" ng-model="vm.Eortc.dom23" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>24. Ha avvertito uno stato di depressione?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom24" ng-model="vm.Eortc.dom24" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom24" ng-model="vm.Eortc.dom24" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom24" ng-model="vm.Eortc.dom24" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom24" ng-model="vm.Eortc.dom24" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom24" ng-model="vm.Eortc.dom24" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>25. Ha avuto difficoltà a ricordare le cose?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom25" ng-model="vm.Eortc.dom25" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom25" ng-model="vm.Eortc.dom25" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom25" ng-model="vm.Eortc.dom25" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom25" ng-model="vm.Eortc.dom25" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom25" ng-model="vm.Eortc.dom25" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>26. Le Sue condizioni fisiche o il Suo trattamento medico hanno interferito con la Sua vita FAMILIARE?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom26" ng-model="vm.Eortc.dom26" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom26" ng-model="vm.Eortc.dom26" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom26" ng-model="vm.Eortc.dom26" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom26" ng-model="vm.Eortc.dom26" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom26" ng-model="vm.Eortc.dom26" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>27. Le Sue condizioni fisiche o il Suo trattamento medico hanno interferito con la Sua attività SOCIALE?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom27" ng-model="vm.Eortc.dom27" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom27" ng-model="vm.Eortc.dom27" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom27" ng-model="vm.Eortc.dom27" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom27" ng-model="vm.Eortc.dom27" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom27" ng-model="vm.Eortc.dom27" value="4"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>28. Le Sue condizioni fisiche o il Suo trattamento medico Le hanno causato difficoltà finanziare?</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Eortc.dom28" ng-model="vm.Eortc.dom28" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom28" ng-model="vm.Eortc.dom28" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom28" ng-model="vm.Eortc.dom28" value="2"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom28" ng-model="vm.Eortc.dom28" value="3"></span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom28" ng-model="vm.Eortc.dom28" value="4"></span>
    </div>

    <br><br>

    <div>Per le seguenti domande selezioni il simbolo che corrisponde alla Sua risposta (0 = NA, 1 = Pessimo, 7 = Ottimo)</div>

    <div class="row">
        <span class="col col-md-12 "><b>29. Come valuterebbe in generale la Sua SALUTE durante gli ultimi sette giorni?</b></span>
        <span class="col col-md-offset-2 col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="0">0</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="1">1</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="2">2</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="3">3</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="4">4</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="5">5</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="6">6</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom29" ng-model="vm.Eortc.dom29" value="7">7</span>
    </div>
    <div class="row">
        <span class="col col-md-12 "><b>30. Come valuterebbe in generale la Sua QUALITÀ DI VITA durante gli ultimi sette giorni?</b></span>
        <span class="col col-md-offset-2 col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="0">0</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="1">1</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="2">2</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="3">3</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="4">4</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="5">5</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="6">6</span>
        <span class="col col-md-1 "><input type="radio" name="Eortc.dom30" ng-model="vm.Eortc.dom30" value="7">7</span>
    </div>

</div>