<div>

    <div>

        <div class="row">
            <span class="col col-md-6 ">Domanda</span>
            <span class="col col-md-1 col-md-offset-1 ">NA</span>
            <span class="col col-md-1 ">1</span>
            <span class="col col-md-1 ">2</span>
            <span class="col col-md-1 ">3</span>
            <span class="col col-md-1 ">4</span>
        </div>

        <br><br>
        <div class="row">
            <span class="col col-md-6 "><b>1. Mi sono sentito/a teso/a o molto nervoso/a <br>(1: Quasi sempre, 2: Spesso, 3: A volte, 4: Mai)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom1" ng-model="vm.Hads.dom1" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom1" ng-model="vm.Hads.dom1" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom1" ng-model="vm.Hads.dom1" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom1" ng-model="vm.Hads.dom1" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom1" ng-model="vm.Hads.dom1" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>2. Ho continuato a provare piacere per le stesse cose che mi piacevano prima <br>(1: Proprio come prima, 2: Non proprio come prima, 3: Solo in parte, 4: Quasi per niente)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom2" ng-model="vm.Hads.dom2" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom2" ng-model="vm.Hads.dom2" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom2" ng-model="vm.Hads.dom2" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom2" ng-model="vm.Hads.dom2" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom2" ng-model="vm.Hads.dom2" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>3. Mi sono sentito/a come rallentato/a <br>(1: Quasi sempre, 2: Molto spesso, 3: A volte, 4: Mai)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom3" ng-model="vm.Hads.dom3" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom3" ng-model="vm.Hads.dom3" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom3" ng-model="vm.Hads.dom3" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom3" ng-model="vm.Hads.dom3" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom3" ng-model="vm.Hads.dom3" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>4. Ho provato una sensazione di paura, come un senso di tensione allo stomaco <br>(1: Mai, 2: A volte, 3: Spesso, 4: Molto spesso)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom4" ng-model="vm.Hads.dom4" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom4" ng-model="vm.Hads.dom4" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom4" ng-model="vm.Hads.dom4" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom4" ng-model="vm.Hads.dom4" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom4" ng-model="vm.Hads.dom4" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>5. Ho provato una sensazione di paura come se stesse per accadere qualcosa di terribile <br>(1: Sicuramente e tanto, 2: Si, ma non tanto, 3: Un po' da preoccuparmene, 4: Mai)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom5" ng-model="vm.Hads.dom5" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom5" ng-model="vm.Hads.dom5" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom5" ng-model="vm.Hads.dom5" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom5" ng-model="vm.Hads.dom5" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom5" ng-model="vm.Hads.dom5" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>6. Sono riuscito/a a ridere e a vedere il lato divertente delle cose <br>(1: Proprio come ho sempre fatto, 2: Non proprio come prima, 3: Sicuramente non come prima, 4: Per niente)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom6" ng-model="vm.Hads.dom6" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom6" ng-model="vm.Hads.dom6" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom6" ng-model="vm.Hads.dom6" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom6" ng-model="vm.Hads.dom6" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom6" ng-model="vm.Hads.dom6" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>7. Ho perso interesse per il mio aspetto fisico <br>(1: Completamente, 2: Spesso non me ne prendo cura quanto dovrei, 3: A volte non me ne prendo cura abbastanza, 4: Me ne prendo cura come al solito)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom7" ng-model="vm.Hads.dom7" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom7" ng-model="vm.Hads.dom7" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom7" ng-model="vm.Hads.dom7" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom7" ng-model="vm.Hads.dom7" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom7" ng-model="vm.Hads.dom7" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>8. Mi sono sentito/a irrequieto/a e incapace di stare fermo/a <br>(1: Moltissimo, 2: Molto, 3: Non molto, 4: Mai)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom8" ng-model="vm.Hads.dom8" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom8" ng-model="vm.Hads.dom8" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom8" ng-model="vm.Hads.dom8" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom8" ng-model="vm.Hads.dom8" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom8" ng-model="vm.Hads.dom8" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>9. Mi sono venuti in mente pensieri preoccupanti <br>(1: Quasi sempre, 2: Spesso, 3: A volte, 4: Mai)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom9" ng-model="vm.Hads.dom9" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom9" ng-model="vm.Hads.dom9" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom9" ng-model="vm.Hads.dom9" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom9" ng-model="vm.Hads.dom9" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom9" ng-model="vm.Hads.dom9" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>10. Mi sono sentito/a di buon umore <br>(1: Mai, 2: Raramente, 3: A volte, 4: Quasi sempre)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom10" ng-model="vm.Hads.dom10" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom10" ng-model="vm.Hads.dom10" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom10" ng-model="vm.Hads.dom10" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom10" ng-model="vm.Hads.dom10" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom10" ng-model="vm.Hads.dom10" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>11. Ho pensato al futuro con ottimismo <br>(1: Come sempre, 2: Un po' meno di prima, 3: Molto meno di prima, 4: Quasi per niente)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom11" ng-model="vm.Hads.dom11" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom11" ng-model="vm.Hads.dom11" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom11" ng-model="vm.Hads.dom11" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom11" ng-model="vm.Hads.dom11" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom11" ng-model="vm.Hads.dom11" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>12. Ho avuto improvvise sensazioni di panico <br>(1: Molto spesso, 2: Spesso, 3: Raramente, 4: Mai)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom12" ng-model="vm.Hads.dom12" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom12" ng-model="vm.Hads.dom12" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom12" ng-model="vm.Hads.dom12" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom12" ng-model="vm.Hads.dom12" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom12" ng-model="vm.Hads.dom12" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>13. Sono riuscito/a a stare seduto fermo/a e a sentirmi rilassato/a <br>(1: Sempre, 2: Spesso, 3: Raramente, 4: Mai)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom13" ng-model="vm.Hads.dom13" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom13" ng-model="vm.Hads.dom13" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom13" ng-model="vm.Hads.dom13" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom13" ng-model="vm.Hads.dom13" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom13" ng-model="vm.Hads.dom13" value="4"></span>
        </div>
        <br>
        <div class="row">
            <span class="col col-md-6 "><b>14. Sono riuscito/a godermi un buon libro o un buon programma alla radio o alla televisione <br>(1: Spesso, 2: A volte, 3: Raramente, 4: Molto rarame)</b></span>
            <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Hads.dom14" ng-model="vm.Hads.dom14" value="0"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom14" ng-model="vm.Hads.dom14" value="1"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom14" ng-model="vm.Hads.dom14" value="2"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom14" ng-model="vm.Hads.dom14" value="3"></span>
            <span class="col col-md-1 "><input type="radio" name="Hads.dom14" ng-model="vm.Hads.dom14" value="4"></span>
        </div>
        <br>

    </div>
</div>