<div>

    <div class="row">
        <span class="col col-md-6 ">Domanda</span>
        <span class="col col-md-1 col-md-offset-1 ">Na</span>
        <span class="col col-md-1 ">Si</span>
        <span class="col col-md-1 ">No</span>
    </div>

    <div class="row">
        <span class="col col-md-6 "><b>1. Ho bisogno di avere maggiori informazioni sulla mia diagnosi</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom1" ng-model="vm.Neq.dom1" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom1" ng-model="vm.Neq.dom1" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom1" ng-model="vm.Neq.dom1" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>2. Ho bisogno di avere maggiori informazioni sulle mie condizioni future</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom2" ng-model="vm.Neq.dom2" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom2" ng-model="vm.Neq.dom2" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom2" ng-model="vm.Neq.dom2" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>3. Ho bisogno di avere maggiori informazioni sugli esami che mi stanno facendo</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom3" ng-model="vm.Neq.dom3" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom3" ng-model="vm.Neq.dom3" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom3" ng-model="vm.Neq.dom3" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>4. Ho bisogno do avere maggiori spiegazioni sui trattamenti</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom4" ng-model="vm.Neq.dom4" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom4" ng-model="vm.Neq.dom4" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom4" ng-model="vm.Neq.dom4" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>5. Ho bisogno di essere più coinvolto/a nelle scelte terapeutiche</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom5" ng-model="vm.Neq.dom5" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom5" ng-model="vm.Neq.dom5" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom5" ng-model="vm.Neq.dom5" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>6. Ho bisogno che i medici e gli infermieri mi diano informazioni più comprensibili</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom6" ng-model="vm.Neq.dom6" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom6" ng-model="vm.Neq.dom6" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom6" ng-model="vm.Neq.dom6" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>7. Ho bisogno che i medici siano più sinceri con me</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom7" ng-model="vm.Neq.dom7" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom7" ng-model="vm.Neq.dom7" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom7" ng-model="vm.Neq.dom7" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>8. Ho bisogno di avere un dialogo maggiore con i medici</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom8" ng-model="vm.Neq.dom8" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom8" ng-model="vm.Neq.dom8" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom8" ng-model="vm.Neq.dom8" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>9. Ho bisogno che alcuni dei miei disturbi (dolore, nausea, insonnia, ecc.) siano maggiormente controllati
        </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom9" ng-model="vm.Neq.dom9" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom9" ng-model="vm.Neq.dom9" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom9" ng-model="vm.Neq.dom9" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>10. Ho bisogno di maggiore aiuto per mangiare, vestirmi ed andare in bagno</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom10" ng-model="vm.Neq.dom10" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom10" ng-model="vm.Neq.dom10" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom10" ng-model="vm.Neq.dom10" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>11. Ho bisogno di maggiore rispetto della mia intimità    </b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom11" ng-model="vm.Neq.dom11" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom11" ng-model="vm.Neq.dom11" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom11" ng-model="vm.Neq.dom11" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>12. Ho bisogno di maggiore attenzione da parte del personale infermieristico</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom12" ng-model="vm.Neq.dom12" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom12" ng-model="vm.Neq.dom12" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom12" ng-model="vm.Neq.dom12" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>13. Ho bisogno di essere più rassicurato dai medici</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom13" ng-model="vm.Neq.dom13" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom13" ng-model="vm.Neq.dom13" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom13" ng-model="vm.Neq.dom13" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>14. Ho bisogno che i servizi offerti dall\'ospedale (bagni, pasti, pulizia) siano migliori</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom14" ng-model="vm.Neq.dom14" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom14" ng-model="vm.Neq.dom14" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom14" ng-model="vm.Neq.dom14" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>15. Ho bisogno di avere maggiori informazioni economico-assicurative legate alla mia malattia (ticket, invalidità, ecc)</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom15" ng-model="vm.Neq.dom15" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom15" ng-model="vm.Neq.dom15" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom15" ng-model="vm.Neq.dom15" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>16. Ho bisogno di aiuto economico</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom16" ng-model="vm.Neq.dom16" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom16" ng-model="vm.Neq.dom16" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom16" ng-model="vm.Neq.dom16" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>17. Ho bisogno di parlare con uno psicologo</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom17" ng-model="vm.Neq.dom17" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom17" ng-model="vm.Neq.dom17" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom17" ng-model="vm.Neq.dom17" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>18. Ho bisogno di parlare con un assistente spirituale</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom18" ng-model="vm.Neq.dom18" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom18" ng-model="vm.Neq.dom18" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom18" ng-model="vm.Neq.dom18" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>19. Ho bisogno di parlare con persone che hanno avuto la mia stessa esperienza</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom19" ng-model="vm.Neq.dom19" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom19" ng-model="vm.Neq.dom19" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom19" ng-model="vm.Neq.dom19" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>20. Ho bisogno di essere maggiormente rassicurato dai miei famigliari</string></b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom20" ng-model="vm.Neq.dom20" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom20" ng-model="vm.Neq.dom20" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom20" ng-model="vm.Neq.dom20" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>21. Ho bisogno di sentirmi maggiormente utile in famiglia</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom21" ng-model="vm.Neq.dom21" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom21" ng-model="vm.Neq.dom21" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom21" ng-model="vm.Neq.dom21" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>22. Ho bisogno di sentirmi meno abbandonato a me stesso</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom22" ng-model="vm.Neq.dom22" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom22" ng-model="vm.Neq.dom22" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom22" ng-model="vm.Neq.dom22" value="2"></span>
    </div>
    <br>
    <div class="row">
        <span class="col col-md-6 "><b>23. Ho bisogno di essere meno commiserato dagli altri</b></span>
        <span class="col col-md-1 col-md-offset-1 "><input type="radio" name="Neq.dom23" ng-model="vm.Neq.dom23" value="0"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom23" ng-model="vm.Neq.dom23" value="1"></span>
        <span class="col col-md-1 "><input type="radio" name="Neq.dom23" ng-model="vm.Neq.dom23" value="2"></span>
    </div>
    <br>

</div>