<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
    </li>
    <li>
        <a class="mouse-over" ng-click="vm.changeView('components/home/homepage.html',3)"><span class="glyphicon glyphicon-home"/> Lista pazienti</a>
    </li>
    <li>
        <a class="mouse-over" ng-show="vm.user.GroupId == 2" ng-click="vm.changeView('components/home/editPatient.html',4)"><span class="glyphicon glyphicon-bed"/> Nuovo paziente</a>
    </li>
    <li>
        <a class="mouse-over" ng-show="vm.user.GroupId == 1" ng-click="vm.changeView('components/home/editUsers.html',1)"><span class="glyphicon glyphicon-user"/> Lista utenti</a>
    </li>
    <li>
        <a class="mouse-over" ng-show="vm.user.GroupId == 1" ng-click="vm.changeView('components/home/statsPatients.html',2)"><span class="glyphicon glyphicon-stats"/> Stat pazienti</a>
    </li>
    <li>
        <a class="mouse-over" ng-show="vm.user.GroupId == 1" ng-click="vm.changeView('components/home/statsQuest.html',3)"><span class="glyphicon glyphicon-stats"/> Questionari</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
