<div id="{{handler}}" class="modal fade" ng-class="{in:vm.showPatientModal,'show-modal':vm.showPatientModal}" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Paziente non eleggibile</h4>
      </div>
      <div class="modal-body">
          <p class="danger">ATTENZIONE:<br>
             Paziente non elegibile, continuando il paziente verrà salvato e sarà usato solo a fini statistici.
           </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.showPatientModal = false;">Annulla</button>
        Oppure
        <button type="button" class="btn btn-success" ng-click="vm.submitPatient(true);vm.showPatientModal = false;">Conferma</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" ng-show="vm.showModal"></div>
