<div id="{{handler}}" class="modal fade" ng-class="{in:vm.showPatientModal,'show-modal':vm.showPatientModal}" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Paziente inserito correttamente</h4>
      </div>
      <div class="modal-body">
          <p class="danger">E' possibile tramite l'app di HuCare, leggere il qr-code sotto ed inizializzare i questionari per i pazienti,
            altrimenti stampare la pagina e recarsi dalla figura preposta.</p>
          <img ng-src="data:image/JPEG;base64,{{vm.patient_qrcode}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="showPatientModal = false;">Annulla</button>
        Oppure
        <button type="button" class="btn btn-success" ng-click="vm.showPatientModal = false;">Stampa</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" ng-show="vm.showModal"></div>
