<h3>Reporting Form {{vm.data.Patient.name}}</h3>
<div class="panel panel-success">
  <div class="panel-heading">
    Basale
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ReportingForm0.$error.required}">
          <td><label>Il paziente ha utilizzato il TABLET?</label></td>
          <td class="col-md-6">
            <label for="Rf04{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No', 3: 'In parte'}">
              <input type="radio" name="Rf04" ng-model="vm.data.ReportingForm0.dom4" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && (vm.form.ReportingForm0.$error.required}">
          <td><label>Indicare chi ha inserito il questionario cartaceo</label></td>
          <td class="col-md-6">
            <input class="form-control" name="Rf04t" ng-model="vm.data.ReportingForm0.dom4t">
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ReportingForm0.$error.required}">
          <td><label>Il paziente ha richiesto assistenza per la compilazione?</label></td>
          <td class="col-md-6">
            <label for="Rf05{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No', 3: 'In parte'}">
              <input type="radio" name="Rf05" ng-model="vm.data.ReportingForm0.dom5" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ReportingForm0.$error.required}">
          <td><label>Indicare la motivazione per cui il paziente NON ha compilato correttamente i questionari</label></td>
          <td class="col-md-6">
            <select class="form-control" name="Rf06" ng-model="vm.data.ReportingForm0.dom6" ng-disabled="vm.user.GroupId != 1">
              <option value="{{key}}" ng-selected="{{key == vm.data.ReportingForm0.dom6}}" ng-repeat="(key,value) in {1:'Si rifiuta di compilare il questionario',2:'Le condizioni di salute non consentono di proseguire',3:'Altro'}">
                 {{value}
              </option>
            </select>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ReportingForm0.$error.required}">
          <td><label>Se altro, specificare</label></td>
          <td class="col-md-6">
            <input class="form-control" name="Rf06t" ng-model="vm.data.ReportingForm0.dom6t" >
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
