<div class="row">

  <div class="col-md-10 col-md-offset-1 thumbnail">
      <form name="vm.form" role="form" novalidate>
        <input type="hidden" ng-model="vm.data.id"/>

        <div class="slide-animate" ng-include="vm.patientPage"></div>

        <br>

        <div ng-show="vm.user.GroupId == 1" class="col-md-10 col-md-offset-1">
          E' un paziente di test?
          <input type="radio" name="PatientTest" ng-model="vm.data.Patient.test" value="1"> Si
          <input type="radio" name="PatientTest" ng-model="vm.data.Patient.test" value="0"> No
        </div>

        <div ng-show="vm.user.GroupId == 1" class="col-md-10 col-md-offset-1" style="margin-bottom:40px;margin-top:10px">
          Note
          <textarea class="form-control" name="PatientNote" ng-model="vm.data.Patient.note" rows="3"></textarea>
        </div>

        <div class="col-md-12" style="margin-bottom:40px;margin-top:10px">
          <nav>
              <ul class="pager">
              <li class="previous mouse-over" ng-show="vm.countPatView > 0">
                <a ng-click="vm.change(-1);"><span aria-hidden="true">&larr;</span> Indietro</a>
              </li>
              <li ng-show="vm.user.GroupId == 1"><a ng-click="vm.savePatient()">Salva info</a></li>
              <li class="next mouse-over" ng-show="vm.countPatView < 4">
                <a ng-click="vm.change(1);">Avanti <span aria-hidden="true">&rarr;</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </form>

  </div>
</div>

<div ng-include="'components/home/modal/noEligiblePatient.html'"></div>
