<h3>Screening Paziente</h3>
<div class="panel panel-success">
  <div class="panel-heading">
    Criteri di inclusione
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningIncl1.$error.required}">
          <td><label>Età &ge; 18 e &le; 75 anni</label></td>
          <td class="col-md-2">
            <label for="ScreeningIncl1{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningIncl1" ng-disabled="vm.finalized" ng-model="vm.data.Screening.incl1" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningIncl2.$error.required}">
          <td><label>Diagnosi (istologica o citologica) di tumore solido da non più di un mese</label></td>
          <td>
            <label for="ScreeningIncl2{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningIncl2" ng-disabled="vm.finalized" ng-model="vm.data.Screening.incl2" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningIncl3.$error.required}">
          <td><label>Deve iniziare un primo trattamento medico: chemioterapia EV, farmaci orali, farmaci a target molecolari</label></td>
          <td>
            <label for="ScreeningIncl3{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningIncl3" ng-disabled="vm.finalized" ng-model="vm.data.Screening.incl3" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningIncl4.$error.required}">
          <td><label>Sopravvivenza attesa &gt; 3 mesi</label></td>
          <td>
            <label for="ScreeningIncl4{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningIncl4" ng-disabled="vm.finalized" ng-model="vm.data.Screening.incl4" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningIncl5.$error.required}">
          <td><label>Buona comprensione della lingua italiana</label></td>
          <td>
            <label for="ScreeningIncl5{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningIncl5" ng-disabled="vm.finalized" ng-model="vm.data.Screening.incl5" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    Criteri di esclusione
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningExcl1.$error.required}">
          <td class="col-md-10"><label>Pregressa chemioterapia o altro trattamento medico per tumore</label></td>
          <td class="col-md-2">
            <label for="ScreeningExcl1{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningExcl1" ng-disabled="vm.finalized" ng-model="vm.data.Screening.excl1" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningExcl2.$error.required}">
          <td><label>Arruolato nel medesimo trial in un periodo precedente</label></td>
          <td>
            <label for="ScreeningExcl2{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningExcl2" ng-disabled="vm.finalized" ng-model="vm.data.Screening.excl2" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningExcl3.$error.required}">
          <td><label>Partecipazione in atto ad altri trial che prevedono la misura di PRO</label></td>
          <td>
            <label for="ScreeningExcl3{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningExcl3" ng-disabled="vm.finalized" ng-model="vm.data.Screening.excl3" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningExcl4.$error.required}">
          <td><label>In trattamento da uno psicologo o psichiatra o con anti-depressivi</label></td>
          <td>
            <label for="ScreeningExcl4{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningExcl4" ng-disabled="vm.finalized" ng-model="vm.data.Screening.excl4" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningExcl5.$error.required}">
          <td><label>Ricoverato in degenza ordinaria</label></td>
          <td>
            <label for="ScreeningExcl5{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningExcl5" ng-disabled="vm.finalized" ng-model="vm.data.Screening.excl5" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningExcl6.$error.required}">
          <td><label>Presenza di condizioni patologiche mentali o psichiatriche, dovute al tumore o a patologie concomitanti,
            che interferiscono con lo stato di coscienza o con la capacità di giudizio</label></td>
          <td>
            <label for="ScreeningExcl6{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningExcl6" ng-disabled="vm.finalized" ng-model="vm.data.Screening.excl6" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.ScreeningExcl7.$error.required}">
          <td><label>Impossibilità a completare il questionario o a garantire il follow-up a 3 mesi</label></td>
          <td>
            <label for="ScreeningExcl7{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="ScreeningExcl7" ng-disabled="vm.finalized" ng-model="vm.data.Screening.excl7" value="{{key}}" required>{{item}}
            </label>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<hr>
<strong>CONSENSO INFORMATO</strong>
<br>
<br>
<p>Paziente ha firmato il consenso informato?</p>
<div>
  <label for="ScreeningSigned{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
    <input type="radio" ng-change=" vm.data.Screening.consenso = '';vm.data.Screening.tablet = null;" name="ScreeningSigned" ng-disabled="vm.finalized" ng-model="vm.data.Screening.signed" value="{{key}}" required>{{item}}
  </label>
</div>
<br/>
<div ng-show="vm.data.Screening.signed == 1">
  <p>Se il paziente è eleggibile, si prega di informarlo esaustivamente sulle finalità dello studio, di far firmare l'apposito modulo del consenso informato scritto e di riportare la data in basso</p>
  <p class="showInline"><input type="text" name="consenso" disabled finalized="vm.finalized" class="form-control small" max-date="vm.today" ng-model="vm.data.Screening.consenso" datepicker/></p>
</div>

<!-- TODO cancella quando finisce studio di fattibilità-->
<div ng-show="vm.data.Screening.signed == 2">
  <p class="lead">Quale è la motivazione per cui non intende partecipare allo studio?</p>
  <label for="ScreeningTablet{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Utilizzo del tablet per la raccolta dati',2: 'Altro'}">
    <input type="radio" name="ScreeningTablet" ng-disabled="vm.finalized" ng-model="vm.data.Screening.tablet" value="{{key}}" required>{{item}}
  </label>
</div>
