<div class="row">

  <div class="col-md-10 col-md-offset-1 thumbnail">
      <form name="vm.form" role="form" novalidate>
        <input type="hidden" ng-model="vm.data.id"/>

        <div class="slide-animate" ng-include="vm.patientPage"></div>

        <br>

        <nav>

          <ul class="pager">
            <li class="previous mouse-over" ng-show="vm.countPatView > 0">
              <a ng-click="vm.change(-1);"><span aria-hidden="true">&larr;</span> Indietro</a>
            </li>
            <li class="next mouse-over" ng-show="vm.countPatView < 2">
              <a ng-click="vm.change(1);">Avanti <span aria-hidden="true">&rarr;</span></a>
            </li>
          </ul>
        </nav>
      </form>

  </div>
</div>

<div ng-include="'components/home/modal/noEligiblePatient.html'"></div>
