<h3>Screening Paziente {{vm.data.Patient.name}}</h3>
<div class="panel panel-success">
  <div class="panel-heading">
    Caratteristiche cliniche paziente
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientDate.$error.required}">
          <td><label>1. Data rilevazione (aaaa-mm-dd)</label></td>
          <td>
            <p class="showInline"><input style="width:98px;" type="text" name="PatientDate" ng-disabled="vm.user.GroupId != 1" finalized="vm.finalized" class="form-control small" max-date="vm.today" ng-model="vm.data.Patient.date" required/></p>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && (vm.form.PatientMetastaticfirstdatemonth.$error.required || vm.form.PatientMetastaticfirstdateyear.$error.required)}">
          <td><label>2. Data della prima diagnosi del tumore primitivo</label></td>
          <td>
            <div class="form-inline">
              <div class="form-group">
                <label for="month">Mese</label>
                <input type="number" name="PatientMetastaticfirstdatemonth" ng-disabled="vm.user.GroupId != 1" class="form-control" ng-model="vm.data.Patient.firstdatemonth" min="1" max="12" required>
              </div>
              <div class="form-group">
                <label for="year">Anno</label>
                <input type="number" name="PatientMetastaticfirstdateyear" ng-disabled="vm.user.GroupId != 1" class="form-control" ng-model="vm.data.Patient.firstdateyear" min="1990" max="2018" required>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic.$error.required}">
          <td><label>3. Tumore metastatico</label></td>
          <td>
            <label for="PatientMetastatic{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic" ng-change="vm.cleanMetastics()" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic" value="{{key}}" required> {{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientPlace.$error.required}">
          <td><label>4. Sede del tumore primitivo</label></td>
          <td>
            <select class="form-control" name="PatientPlace" ng-model="vm.data.Patient.place" ng-disabled="vm.user.GroupId != 1">
              <option value="{{key}}" ng-selected="{{key == vm.data.Patient.place}}" ng-repeat="(key,value) in {1:'Apparato Urinario',2:'Capo e collo',3:'Colon e retto',4:'Fegato e vie biliari',5:'Ginecologici',6:'Mammella',7:'Pancreas',8:'Polmone',9:'Prostata',10:'Sangue',11:'Stomaco ed esofago',12:'Altra sede / Sede non nota'}">
                 {{value}}
              </option>
            </select>
          </td>
        </tr>
        <tr ng-show="vm.data.Patient.metastatic == 1">
          <td colspan="2"><label>4.1 Se TUMORE METASTATICO, indicare le sedi </label></td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic1.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Epatica</td>
          <td class="no-border">
            <label for="PatientMetastatic1{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic1" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic1" value="{{key}}"  > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic2.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Polmonare</td>
          <td class="no-border">
            <label for="PatientMetastatic2{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic2" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic2" value="{{key}}" > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic3.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Ossea</td>
          <td class="no-border">
            <label for="PatientMetastatic3{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic3" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic3" value="{{key}}"  > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic4.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Cerebrale</td>
          <td class="no-border">
            <label for="PatientMetastatic4{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic4" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic4" value="{{key}}"  > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic5.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Addominale</td>
          <td class="no-border">
            <label for="PatientMetastatic5{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic5" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic5" value="{{key}}"  > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic6.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Linfonodale</td>
          <td class="no-border">
            <label for="PatientMetastatic6{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic6" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic6" value="{{key}}"  > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic7.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Altra sede (specificare)</td>
          <td class="no-border">
            <label for="PatientMetastatic7{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic7" ng-change="vm.data.Patient.metastaticother = null" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastatic7" value="{{key}}"  > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastaticOther.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1 && vm.data.Patient.metastatic7 == 1">
          <td class="no-border"> Specificare</td>
          <td class="no-border">
            <input type="text" name="PatientMetastaticOther" class="form-control" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.metastaticother" >
          </td>
        </tr>

        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientEcog.$error.required}">
          <td><label>5. Performance Status di ECOG</label></td>
          <td>
            <label for="PatientEcog{{item}}" class="radio-inline" ng-repeat="value in [0, 1,2, 3,4,5]">
              <input type="radio" name="PatientEcog" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.ecog" value="{{value}}" required> {{value}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientTypetreatment.$error.required}">
          <td><label>6. Tipo di trattamento</label></td>
          <td>
            <div class="col col-md-7">
              Chemioterapia EV
              </div>
              <div class="col col-md-5">
              <label for="PatientTypetreatment1{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si', 2 : 'No'}">
                <input type="radio" name="PatientTypetreatment1" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.typetreatment1" value="{{key}}" required> {{item}}
              </label>
            </div>
            <br/>
            <div class="col col-md-7">
            Farmaci orali
          </div>
          <div class="col col-md-5">
            <label for="PatientTypetreatment2{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si', 2 : 'No'}">
              <input type="radio" name="PatientTypetreatment2" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.typetreatment2" value="{{key}}" required> {{item}}
            </label>
          </div>
            <br/>
            <div class="col col-md-7">
            Farmaci a target molecolari
          </div>
          <div class="col col-md-5">
            <label for="PatientTypetreatment3{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si', 2 : 'No'}">
              <input type="radio" name="PatientTypetreatment3" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.typetreatment3" value="{{key}}" required>{{item}}
            </label>
          </div>
            <br/>
            <div class="col col-md-7">
            Terapia ormonale
          </div>
          <div class="col col-md-5">
            <label for="PatientTypetreatment4{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si', 2 : 'No'}">
              <input type="radio" name="PatientTypetreatment4" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.typetreatment4" value="{{key}}" required>{{item}}
              <br>
            </label>
          </div>
            <br/>
            <div class="col col-md-7">
            Immunoterapia
          </div>
          <div class="col col-md-5">
            <label for="PatientTypetreatment5{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si', 2 : 'No'}">
              <input type="radio" name="PatientTypetreatment5" ng-disabled="vm.user.GroupId != 1" ng-model="vm.data.Patient.typetreatment5" value="{{key}}" required>{{item}}
            </label>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
