<h3>Screening Paziente {{vm.data.Patient.name}}</h3>
<div class="panel panel-success">
  <div class="panel-heading">
    Caratteristiche cliniche paziente
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientDate.$error.required}">
          <td><label>1. Data rilevazione</label></td>
          <td>
            <p class="showInline"><input style="width:98px;" type="text" name="PatientDate" disabled finalized="vm.finalized" class="form-control small" max-date="vm.today" ng-model="vm.data.Patient.date" required/></p>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && (vm.form.PatientMetastaticfirstdatemonth.$error.required || vm.form.PatientMetastaticfirstdateyear.$error.required)}">
          <td><label>2. Data della prima diagnosi del tumore primitivo</label></td>
          <td>
            <div class="form-inline">
              <div class="form-group">
                <label for="month">Mese</label>
                <input type="number" name="PatientMetastaticfirstdatemonth" disabled class="form-control" ng-model="vm.data.Patient.firstdatemonth" min="1" max="12" required>
              </div>
              <div class="form-group">
                <label for="year">Anno</label>
                <input type="number" name="PatientMetastaticfirstdateyear" disabled class="form-control" ng-model="vm.data.Patient.firstdateyear" min="1990" max="2018" required>
              </div>
            </div>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic.$error.required}">
          <td><label>3. Tumore metastatico</label></td>
          <td>
            <label for="PatientMetastatic{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic" disabled ng-model="vm.data.Patient.metastatic" value="{{key}}" required> {{item}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientPlace.$error.required}">
          <td><label>4. Sede del tumore primitivo</label></td>
          <td>
            <select class="form-control" name="PatientPlace" ng-model="vm.data.Patient.place" disabled>
              <option value="{{key}}" ng-selected="{{key == vm.data.Patient.place}}" ng-repeat="(key,value) in {1:'Apparato Urinario',2:'Capo e collo',3:'Colon e retto',3:'Fegato e vie biliari',4:'Ginecologici',5:'Mammella',6:'Pancreas',7:'Polmone',8:'Prostata',9:'Sangue',10:'Stomaco ed esofago',11:'Altra sede / Sede non nota'}">
                 {{value}}
              </option>
            </select>
          </td>
        </tr>
        <tr ng-show="vm.data.Patient.metastatic == 1">
          <td colspan="2"><label>4.1 Se TUMORE METASTATICO, indicare le sedi </label></td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic1.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Epatica</td>
          <td class="no-border">
            <label for="PatientMetastatic1{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic1" disabled ng-model="vm.data.Patient.metastatic1" value="{{key}}" metastatic > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic2.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Polmonare</td>
          <td class="no-border">
            <label for="PatientMetastatic2{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic2" disabled ng-model="vm.data.Patient.metastatic2" value="{{key}}" metastatic> {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic3.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Ossea</td>
          <td class="no-border">
            <label for="PatientMetastatic3{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic3" disabled ng-model="vm.data.Patient.metastatic3" value="{{key}}" metastatic > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic4.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Cerebrale</td>
          <td class="no-border">
            <label for="PatientMetastatic4{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic4" disabled ng-model="vm.data.Patient.metastatic4" value="{{key}}" metastatic > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic5.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Addominale</td>
          <td class="no-border">
            <label for="PatientMetastatic5{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic5" disabled ng-model="vm.data.Patient.metastatic5" value="{{key}}" metastatic > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic6.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Linfonodale</td>
          <td class="no-border">
            <label for="PatientMetastatic6{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic6" disabled ng-model="vm.data.Patient.metastatic6" value="{{key}}" metastatic > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastatic7.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1">
          <td class="no-border"> Altra sede (specificare)</td>
          <td class="no-border">
            <label for="PatientMetastatic7{{item}}" class="radio-inline" ng-repeat="(key,item) in {1 : 'Si',2: 'No'}">
              <input type="radio" name="PatientMetastatic7" ng-change="vm.data.Patient.metastaticother = null" disabled ng-model="vm.data.Patient.metastatic7" value="{{key}}" metastatic > {{item}}
            </label>
          </td>
        </tr>
        <tr class="no-border" ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientMetastaticOther.$error.metastatic}" ng-show="vm.data.Patient.metastatic == 1 && vm.data.Patient.metastatic7 == 1">
          <td class="no-border"> Specificare</td>
          <td class="no-border">
            <input type="text" name="PatientMetastaticOther" class="form-control" disabled ng-model="vm.data.Patient.metastaticother" >
          </td>
        </tr>

        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientEcog.$error.required}">
          <td><label>5. Performance Status di ECOG</label></td>
          <td>
            <label for="PatientEcog{{item}}" class="radio-inline" ng-repeat="value in [0, 1,2, 3,4,5]">
              <input type="radio" name="PatientEcog" disabled ng-model="vm.data.Patient.ecog" value="{{value}}" required> {{value}}
            </label>
          </td>
        </tr>
        <tr ng-class="{'danger': vm.data.Patient.finalized && vm.form.PatientTypetreatment.$error.required}">
          <td><label>6. Tipo di trattamento</label></td>
          <td>
            <div class="radio">
              <label for="PatientTypetreatment1" class="" >
                <input type="checkbox" name="PatientTypetreatment1" disabled ng-model="vm.data.Patient.typetreatment1" ng-checked="vm.data.Patient.typetreatment1 == 1" > Chemioterapia EV
              </label>
            </div>
            <div class="radio">
              <label for="PatientTypetreatment2" class="" >
                <input type="checkbox" name="PatientTypetreatment2" disabled ng-model="vm.data.Patient.typetreatment2" ng-checked="vm.data.Patient.typetreatment2 == 1" > Farmaci orali
              </label>
            </div>
            <div class="radio">
              <label for="PatientTypetreatment3" class="" >
                <input type="checkbox" name="PatientTypetreatment3" disabled ng-model="vm.data.Patient.typetreatment3" ng-checked="vm.data.Patient.typetreatment3 == 1" > Farmaci a target molecolari
              </label>
            </div>
            <div class="radio">
              <label for="PatientTypetreatment4" class="" >
                <input type="checkbox" name="PatientTypetreatment4" disabled ng-model="vm.data.Patient.typetreatment4" ng-checked="vm.data.Patient.typetreatment4 == 1" > Terapia ormonale
              </label>
            </div>
            <div class="radio">
              <label for="PatientTypetreatment5" class="" >
                <input type="checkbox" name="PatientTypetreatment5" disabled ng-model="vm.data.Patient.typetreatment5" ng-checked="vm.data.Patient.typetreatment5 == 1" > Immunoterapia
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
