<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="4" class="header">Valutazione basale</th>
          <th colspan="4" class="header">Valutazione follow-up</th>
        </tr>
        <tr>
          <th>ID paziente</th>
          <th>Sesso</th>
          <th>Data nascita</th>
          <th>EORTC</th>
          <th>HADS</th>
          <th>NEQ</th>
          <th>Reporting Form</th>
          <th>EORTC</th>
          <th>HADS</th>
          <th>NEQ</th>
          <th>Reporting Form</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mouse-over" ng-repeat="patient in vm.patients | customLimitTo:vm.itemsPerPage:(vm.pagination-1)*vm.itemsPerPage" ng-dblclick="vm.changeView('components/home/editPatient.html',4,patient.id)">
          <td><center>{{patient.name}}</center></td>
          <td>{{patient.sex == '1' ? "Uomo" : (patient.sex == '2' ? "Donna" : "")}}</td>
          <td>{{patient.birth | date : 'yyyy-MM-dd'}}</td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T0EortcId,'glyphicon-remove': !patient.T0EortcId}" aria-hidden="true"></span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T0HadId,'glyphicon-remove': !patient.T0HadId}" aria-hidden="true"></span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T0NeqId,'glyphicon-remove': !patient.T0NeqId}" aria-hidden="true"></span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T0ReportingId,'glyphicon-remove': !patient.T0ReportingId}" aria-hidden="true"></span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T1EortcId,'glyphicon-remove': !patient.T1EortcId}" aria-hidden="true"></span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T1HadId,'glyphicon-remove': !patient.T1HadId}" aria-hidden="true"></span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T1NeqId,'glyphicon-remove': !patient.T1NeqId}" aria-hidden="true"></span></td>
          <td><span class="glyphicon" ng-class="{'glyphicon-ok': patient.T1ReportingId,'glyphicon-remove': !patient.T1ReportingId}" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
</div>

<nav class="nav-footer">
  <ul class="pagination" ng-repeat="n in [] | range:vm.Math.ceil(vm.patients.length / vm.itemsPerPage)">
    <li ng-if="n==0" ng-hide="vm.pagination-1==0">
      <a href="" aria-label="Precedente" ng-click="vm.pagination = vm.pagination-1"><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li ng-class="{active:vm.pagination == (n+1)}"><a href="" ng-click="vm.pagination = (n+1)">{{n+1}}</a></li>
    <li ng-if="n==vm.Math.ceil(vm.patients.length / vm.itemsPerPage)-1" ng-hide="vm.pagination==vm.Math.ceil(vm.patients.length / vm.itemsPerPage)">
      <a href="" aria-label="Successivo" ng-click="vm.pagination = vm.pagination+1"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>
