<div class="row">

  <select class="form-control" ng-change="vm.changeView('components/home/statsPatients.html',2)" ng-model="vm.periodStat" ng-options="item.id as item.name for item in vm.timeInterval"/>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Nome Utente</th>
        <th>Ospedale</th>
        <th>Pz arruolati</th>
        <th>Pz non valido</th>
        <th>Pz con basale</th>
        <th>Pz con FU</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="clinic in vm.clinicCounter" ng-class="{red:(clinic.username.indexOf('TORINO') == 0 || clinic.username.indexOf('TORINO2') == 0 || clinic.username.indexOf('MILANO') == 0 || clinic.username.indexOf('UDINE') == 0 || clinic.username.indexOf('VERONA') == 0), green:(clinic.username.indexOf('BRINDISI') == 0 || clinic.username.indexOf('CAMPOBASSO') == 0 || clinic.username.indexOf('COSENZA') == 0 || clinic.username.indexOf('FANO') == 0 || clinic.username.indexOf('NAPOLI') == 0)}">
        <td>{{clinic.username | uppercase}}</td>
        <td>{{clinic.Screening.Clinic.name}}</td>
        <td>{{clinic.ClinicCount}}</td>
        <td>{{clinic.notValid}}</td>
        <td>{{clinic.T0 ? clinic.T0 : 0}}</td>
        <td>{{clinic.Fu ? clinic.Fu : 0}}</td>
      </tr>
    </tbody>
  </table>

</div>
